/*
* @Author: Kornraphop K
* @Date:   2018-11-08 19:55:15
* @Last Modified by:   Kornraphop K
* @Last Modified time: 2019-01-25 21:57:46
*/

body {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Varela Round', sans-serif;
	line-height: 1.75;
	letter-spacing: -0.14px
}

a:hover {
	text-decoration: none;
}

.intro-passage {
	font-size: 1.2rem;
	text-align: justify;
}

.external-link {
	margin-bottom: 20px;
}

.external-link:hover {
	color: blue;
}

.external-link-bar {
	margin: 45px;
	margin-bottom: 25px;
}

.container {
	margin-top: 45px;
	margin-bottom: 45px;
	/*margin: 45px;*/
}

.profile-pic {
	border-radius: 50%;
	width: 225px;
}

.profile-name {
	margin-bottom: 45px;
}